* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.Foto{
    margin-top: 6%;
    transform: translate(0px, 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px; 
}

nav{
    width: 20px;
}

.todo2{
    position: absolute;
    z-index:1;
    transform: translate(170px, 162px);
    font-size: 30px;
}

tit{
    font-size: 23px;
}

/* Menu */ 

.btn-menu{
    text-shadow: 1px 1px 1px #df5ea7;
}

#btn-menu{
    display: none;
}
.container-menu{
    position: absolute;
    background: #b465a38e;
    width: 125%;
    height: 77vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 125%;
    max-width: 250px;
    background: #b465a3;
    height: 77vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #fae5f1;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 30px solid #000000;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

/* Fin del Menu */

.TituloTienda{
    font-size: 30px;
    padding-top: 30px;
    padding-right: 8%; 
}

body{
    background-color: #ffffff;
    font-family: "Comic Sans MS";
}

.inicio{
    transform: translate(0px, -15%);
    border-bottom: 5px solid #000000;
    /* background-color: rgb(226, 226, 226); */
    font-family: "Comic Sans MS";
    font-size: 200px;
    width: 100%;
}

.s{
    text-decoration: none;
    -webkit-text-stroke: 2px black;
    color: transparent; 
    color: #a537ff;
}

.info{ 
    /* display: flex; */
    text-align: center;
    margin-bottom: 5%;
    overflow:hidden;
    padding-left: 7%;
}

.todo{
    
}

.cel1{
    display: inline-block;
    margin-right: 140px;
    background-color: #fae5f1;
    padding-top: 20px;
    width: 330px;
    border-radius: 10px;
    /*float: left;*/
    margin-top: 50px;
}

.img1{
    border-radius: 10px;
    height: 350px;
}

hr{
    margin-top: 10px;
}

.tit{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 25px;
    text-decoration: none;
    font-weight: bold;
}

li{
    padding-left: 20px;
    text-align: left;
    padding-bottom: 20px;
}

.precio{
    font-weight: bold;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.cuadrado1{
    display: flex;
    border-top: 5px solid #000000;
    justify-content: center;
    background-color: #fae5f1;
    font-size: 20px;
}


.text1{
    font-size: 30px;
    
}

.select {
    margin-top: 7px;
    align-items: center;
    background: none;
    border: none;
    padding: 13px;
    color: #000000;
    width: 200px;
    cursor: pointer;
    background-color: #c4c4c4;
}

option{
    height: auto;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    background-color: #a7a7a7;
}

.ce{
    display: none;
}

.barras{
    border: none;
    background-color: #c4c4c4;
    font-size: 15px;
    width: 200px;
}

.buttom{
    margin-bottom: 30%;
    border: none;
    background-color: #a7a7a7;
    font-size: 20px;
    height: 50px;
    width: 200px;
    transition: .5s ease all;
}

.anunc{
    height: 200px;
    width: auto;
}

.testid{
    text-align: center;
}

.boton{
    background-color: #eb7177;
    font-size: 16px;
    height: 35px;
    width: 90px;
    margin-bottom: 25px;
    transition: .5s ease all;
}

.boton:hover{
    height: 30px;
    background: #6093ff;
}

.buttom:hover{
    height: 45px;
    width: 190px;
    background: #eb7177;
}

.Titulo{
    font-size: 70%;
    color: #f050ff;
    -webkit-text-stroke: 2px black;
}

.IgTit{
    font-size: 25px;
    margin: 10px;
}

@media (max-width: 1526px){
    
    .todo2{
        transform: translate(110px, 162px);  
    }

    .TituloTienda{
        margin-left: 8%;
    }

    .cel1{
        margin: 2%; 
        margin-bottom: 50px;
    }

    .info{
        margin-right: 8%;
        text-align:center;
    }

}

@media (max-width: 1280px){

    .todo2{
        transform: translate(25px, 162px);  
    }

    .bar-btn{
        padding-top: 60px;
        margin-left: 50px;
    }

}

@media (max-width: 1120px){
    
    .todo2{
        font-size: 40px;
        transform: translate(40px, 80px);  
    }

    .container-menu{
        width: 100%;
        height: 75vh;
    }

    .cont-menu{
        width: 130%;
        height: 75vh;
    }

}

@media (max-width: 1000px){

    .todo2{
        font-size: 32px;
        transform: translate(40px, 80px);  
    }

    .container-menu{
        width: 120%;
        height: 67vh;
    }

    .cont-menu{
        width: 130%;
        height: 67vh;
    }

    .TituloTienda{
        text-decoration: underline #fae5f1;
        margin-bottom: 6%;
        margin-left: 6.7%;
    }

    .cel1{
        margin: 0.5%; 
        margin-bottom: 50px;
    }

    .Foto{
        height: 600px;
        transform: translate(0px, 15%);
    }
    
    .info{
        margin-right: 6.4%;
        text-align:center;
    }
    
    .img1{
        border-radius: 10px;
        height: 250px;
    }
    
    .anunc{
        width: 700px;
        height: 100px;
    }
    
    .Titulo{
        color: #f050ff;
        font-size: 35%;
    }
    
    .s{
        font-size: 35%;
    }
    
    .bar-btn{
        padding-top: 30px;
        margin-left: 30px;
    }

    }

@media (max-width: 730px){

    .todo2{
        font-size: 25px;
        transform: translate(25px, 60px);  
    }

    .container-menu{
        width: 120%;
        height: 57vh;
    }

    .cont-menu{
        width: 130%;
        height: 57vh;
    }

    .bar-btn{
        padding-top: 10px;
        margin-left: 20px;
    }

    .Foto{
        height: 500px;
    }

    .anunc{
        width: 550px;
        height: 80px;
        }
    }

@media (max-width: 600px){

    tit{
        color: #fff;
        text-shadow: none;
    }

    .btn-menu{
        color: #000000;
        font-size: 30px;
    }

    .todo2{
        font-size: 16px;
        transform: translate(25px, 75px);  
    }

    .container-menu{
        width: 120%;
        height: 48vh;
    }

    .cont-menu{
        width: 130%;
        height: 48vh;
    }

    .bar-btn{
        padding-top: 50px;
        margin-left: 30px;
    }

    .cuadradoInt{
        font-size: 18px;
    }

    .text1{
        font-size: 24px;
    }

    .Foto{
        height: 350px;
    }

    .info{
        text-align:center;
        padding-left: 7%;
    }
        
    .cel1{
        margin:0px auto; 
        margin-bottom: 50px;
    }
        
    .cuadrado1{
        width: 100%;    
    }
        
    .anunc{
        width: 400px;
        height: 80px;
    }
        
    .Titulo{
        font-size: 43px;
    }
        
    .s{
        font-size: 43px;
    }
        
    .inicio{
        color: #f050ff;
        padding-top: 1%;
        padding-bottom: 4%;
    }
        
    .form1{
        margin-left: 300px;
    }
        
    .formulario{
        margin-left: 220px;
    }
    
    }

@media (max-width: 470px){

    
    .btn-menu{
        color: #000000;
        font-size: 30px;
    }

    .todo2{
        font-size: 16px;
        transform: translate(28px, 60px);  
    }

    .container-menu{
        width: 120%;
        height: 48vh;
    }

    .cont-menu{
        width: 130%;
        height: 48vh;
    }

    .cel1{
        margin:0px auto;
        width: 80%; 
        margin-bottom: 50px;
    }

    .IgTit{
        font-size: 20px;
    }

    .bar-btn{
        padding-top: 10px;
        margin-left: 20px;
    }

    .cuadradoInt{
        font-size: 15px;
    }

    .anunc{
        width: 340px;
        height: 60px;
    }

    .Foto{
        height: 330px;
    }

    .form1{
        margin-left: 325px;
        }
}