* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.Foto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px; 
}

/* Menu */ 

nav{
    font-size: 30px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar-btn{
    font-size:25px;
    color: #fae5f1;
    margin-right: 20px;
    cursor: pointer;
    text-shadow: 1px 1px 1px #000000;
}

.nav-menu{
    text-align:center;
    position: fixed;
    width: 8%;
    top: 100px;
    background: #fae5f1;
    transition: all .5s;
}

.nav-menu li{
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5%;
}

.nav-menu li a {
    color: #000000;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a.active, .nav-menu li a:hover{
    color: #a537ff;
    transition: .3s;
}

#check {
    display: none;
}

#check:checked ~ .nav-menu {
    height: 100vh;
}

#check:checked ~ .nav-menu li {
    display: block;
}

/* Fin del Menu */

.TituloTienda{
    font-size: 30px;
    margin-right: 290px;;
}

body{
    background-color: #ffffff;
    font-family: "Comic Sans MS";
}

.inicio{
    border-bottom: 5px solid #000000;
    /* background-color: rgb(226, 226, 226); */
    font-family: "Comic Sans MS";
    font-size: 200px;
    width: 100%;
}

.s{
    text-decoration: none;
    -webkit-text-stroke: 2px black;
    color: transparent; 
    color: #a537ff;
}

.info{    
    /* display: flex; */
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    overflow: hidden;
    padding-left: 15%;
}

.cel1{
    display: inline-block;
    margin-right: 140px;
    background-color: #fae5f1;
    padding-top: 20px;
    width: 330px;
    border-radius: 10px;
    float: left;
    margin-top: 50px;
}

.img1{
    border-radius: 10px;
    height: 350px;
}

hr{
    margin-top: 10px;
}

.tit{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 25px;
    text-decoration: none;
    font-weight: bold;
}

li{
    padding-left: 20px;
    text-align: left;
    padding-bottom: 20px;
}

.precio{
    font-weight: bold;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.cuadrado1{
    display: flex;
    border-top: 5px solid #a7a7a7;
    justify-content: center;
    background-color: rgb(226, 226, 226);
    font-size: 20px;
}

.formulario{

}

.text1{
    font-size: 30px;
    
}

.select {
    margin-top: 7px;
    align-items: center;
    background: none;
    border: none;
    padding: 13px;
    color: #000000;
    width: 200px;
    cursor: pointer;
    background-color: #c4c4c4;
}

option{
    height: auto;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    background-color: #a7a7a7;
}

.ce{
    display: none;
}

.barras{
    border: none;
    background-color: #c4c4c4;
    font-size: 15px;
    width: 200px;
}

.buttom{
    margin-bottom: 30%;
    border: none;
    background-color: #a7a7a7;
    font-size: 20px;
    height: 50px;
    width: 200px;
    transition: .5s ease all;
}

.form1{
    margin-top: 140px;
    margin-right: 540px;
    position: absolute;
}

.form1{
    border-radius: 6px;
    padding: 10px;
    height: auto;
    width: 210px;
    background-color:#c4c4c4;
}

.anunc{
    height: 200px;
    width: auto;
}

.testid{
    text-align: center;
}

.boton{
    background-color: #eb7177;
    font-size: 16px;
    height: 35px;
    width: 90px;
    margin-bottom: 25px;
    transition: .5s ease all;
}

.boton:hover{
    height: 30px;
    background: #6093ff;
}

.buttom:hover{
    height: 45px;
    width: 190px;
    background: #eb7177;
}

.Titulo{
    font-size: 70%;
    color: #f050ff;
    -webkit-text-stroke: 2px black;
}

@media (max-width: 1280px){

.cel1{
    margin-left: 13%;
    margin-bottom: 50px;
}

.anunc{
    width: 800px;
    height: 150px;
}

.Titulo{
    font-size: 70%;
    color: #f050ff;
}

.s{
    font-size: 70%;
}

}

@media (max-width: 1000px){

    
    .info{
        text-align:center;
    }
    .cel1{
        margin-left: 13%;
        width: 240px;
    }
    
    .img1{
        border-radius: 10px;
        height: 250px;
    }
    
    .cel2{
        width: 240px;
    }
    
    .cel3{
        width: 240px;
    }
    
    .anunc{
        width: 700px;
        height: 100px;
    }
    
    .Titulo{
        color: #f050ff;
        font-size: 35%;
    }
    
    .s{
        font-size: 35%;
    }
    
    }

@media (max-width: 730px){

.anunc{
    width: 550px;
    height: 80px;
    }
}

@media (max-width: 600px){

.info{
    text-align:center;
}
    
.cel1{
    margin:0px auto;
    width: 80%; 
    margin-bottom: 50px;
}
    
.cel2{
    margin:0px auto;
    width: 80%; 
    margin-bottom: 50px;
}
    
.cel3{
    margin:0px auto;
    width: 80%; 
}
    
.cuadrado1{
    width: 100%;    
}
    
.anunc{
    width: 400px;
    height: 80px;
}
    
.Titulo{
    font-size: 43px;
}
    
.s{
    font-size: 43px;
}
    
.inicio{
    color: #f050ff;
    padding-top: 1%;
    padding-bottom: 4%;
}
    
.form1{
    margin-left: 300px;
}
    
.formulario{
    margin-left: 220px;
}
 
}

@media (max-width: 470px){

.form1{
    margin-left: 325px;
    }
}